.container {
  padding: 30px;
  max-width: 700px;
  margin: auto;
  font-family: Arial;
}

h1,
h2 {
  text-align: center;
}

.form-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: center;
}

td button {
  margin-right: 5px;
  background-color: #28a745;
}

td button:last-child {
  background-color: #dc3545;
}
